In [7]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [8]:
fact_df = pd.read_csv("data/fact.sale.csv", encoding="utf-16", on_bad_lines='skip')

fact_df

,Sale Key,City Key,Customer Key,Bill To Customer Key,Stock Item Key,Invoice Date Key,Delivery Date Key,Salesperson Key,WWI Invoice ID,Description,Package,Quantity,Unit Price,Tax Rate,Total Excluding Tax,Tax Amount,Profit,Total Including Tax,Total Dry Items,Total Chiller Items,Lineage Key
0,49258,71135,0,0,194,2013-10-22,2013-10-23,86,15187,DBA joke mug - SELECT caffeine FROM mug (White),Each,6,13.0,15.0,78.0,11.7,51.0,89.7,6,0,11
1,49265,41568,0,0,204,2013-10-22,2013-10-23,83,15189,DBA joke mug - mind if I join you? (White),Each,6,13.0,15.0,78.0,11.7,51.0,89.7,6,0,11
2,49456,70409,0,0,202,2013-10-22,2013-10-23,74,15241,DBA joke mug - daaaaaa-ta (White),Each,6,13.0,15.0,78.0,11.7,51.0,89.7,6,0,11
3,49372,48937,0,0,173,2013-10-22,2013-10-23,83,15218,Developer joke mug - a foo walks into a bar (B...,Each,6,13.0,15.0,78.0,11.7,51.0,89.7,6,0,11
4,49624,41981,0,0,168,2013-10-24,2013-10-25,85,15296,IT joke mug - keyboard not found … press F1 to...,Each,6,13.0,15.0,78.0,11.7,51.0,89.7,6,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226116,227166,45064,0,0,220,2016-05-26,2016-05-27,165,70170,Novelty chilli chocolates 500g,Bag,84,14.5,10.0,1218.0,121.8,483.0,1339.8,0,84,11
226117,227193,96377,305,202,220,2016-05-26,2016-05-27,170,70179,Novelty chilli chocolates 500g,Bag,120,14.5,10.0,1740.0,174.0,690.0,1914.0,0,120,11
226118,227332,76043,267,202,220,2016-05-26,2016-05-27,172,70221,Novelty chilli chocolates 500g,Bag,84,14.5,10.0,1218.0,121.8,483.0,1339.8,0,84,11
226119,227852,90400,377,202,220,2016-05-30,2016-05-31,165,70388,Novelty chilli chocolates 500g,Bag,24,14.5,10.0,348.0,34.8,138.0,382.8,0,24,11
226120,228128,113251,0,0,220,2016-05-31,NaN,163,70470,Novelty chilli chocolates 500g,Bag,12,14.5,10.0,174.0,17.4,69.0,191.4,0,12,11

In [6]:
fact_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226121 entries, 0 to 226120
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Sale Key              226121 non-null  int64
 1   City Key              226121 non-null  int64
 2   Customer Key          226121 non-null  int64
 3   Bill To Customer Key  226121 non-null  int64
 4   Stock Item Key        226121 non-null  int64
 5   Invoice Date Key      226121 non-null  object
 6   Delivery Date Key     225839 non-null  object
 7   Salesperson Key       226121 non-null  int64
 8   WWI Invoice ID        226121 non-null  int64
 9   Description           226121 non-null  object
 10  Package               226121 non-null  object
 11  Quantity              226121 non-null  int64
 12  Unit Price            226121 non-null  float64
 13  Tax Rate              226121 non-null  float64
 14  Total Excluding Tax   226121 non-null  float64
 15  Tax Amount            226121 non-null  float64
 16  Profit                226121 non-null  float64
 17  Total Including Tax   226121 non-null  float64
 18  Total Dry Items       226121 non-null  int64
 19  Total Chiller Items   226121 non-null  int64
 20  Lineage Key           226121 non-null  int64
dtypes: float64(6), int64(11), object(4)
memory usage: 36.2+ MB